<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet">
		<style>
			body { align-items: center;  display: flex; flex-flow: column nowrap; font-family: Preahvihear, sans-serif; }
			ul { padding: 0px; list-style: none; }
			hr { width:95%; background-color: #000000; height: 2px; border: none; }
			details { margin-bottom: 10px; }
			ul { width: 70%; }
			ul>li {
				text-align: center;
				padding: 0px 0px 20px 0px;
			}

			.tab-container {
				display: grid;
				grid-template-columns: 5% 95%;
				background-color:#DDDDDD;
			}

			.tab-indicator {
				border-right: 2px solid;
			}

			.child-grid-container {
				display: grid;
				grid-gap: 10px;
				grid-template-columns: auto auto auto;
				margin: 0% 3%;
				padding: 7px;
				border-radius: 5px;
			}

			.nested-tab-container {
				display: grid;
				grid-template-columns: 10% 90%;
				border: 2px solid;
				background-color: #EEEEEF;
			}
		</style>
	</head>
	<body style="background-color:#333333">
		<ul>
			{{range $_, $parent := .Services}}
			<li>
				<div class="tab-container">
					<div class="tab-indicator" style="background-color: {{$parent.StatusColor}}"></div>
					<div>
						<div style="align-items: center;  display: flex; flex-flow: column nowrap;">
							<div style="font-size: 1.25rem; font-weight: bold">{{$parent.ServiceName}}</div>
							{{$parent.LastHeartbeat}}
						</div>
						{{if ne 0 (len $parent.ChildServices)}}
							<hr>
							<details>
							<summary>Show (Online: {{$parent.OnlineChildCount}}/{{(len $parent.ChildServices)}})</summary>
								<div class="child-grid-container">
									{{range $_, $child := $parent.ChildServices}}
										<div class="nested-tab-container">
											<div class="tab-indicator" style="background-color: {{$child.StatusColor}}"></div>
											<div style="align-items: center;  display: flex; flex-flow: column nowrap;">
												<p style="margin: 0px; font-size: 0.83rem; font-weight: bold;">{{$child.ServiceName}}</p>
												<p style="margin: 0px; font-size: 0.8rem">{{$child.LastHeartbeat}}</p>
											</div>
										</div>
									{{end}}
								</div>
							</details>
						{{end}}
					</div>
				</div>
			</li>
			{{end}}
		</ul>
	</body>
</html>
